Binaries
DerivedDataCache
Intermediate
Saved
Build/*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AdvancedVillagePack
Content/Characters
Content/LevelPrototyping
Content/MSPresets
Content/M5VFXVOL2
